.content {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30vh;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.content.has_session {
  margin-top: 10vh;
}

.new_session {
  margin-top: 2rem;
  background: var(--color-discord-blue);
  border: none;
  color: var(--text-color);
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
  align-self: center;
}


.existing_session {
  margin-top: 2rem;
  background: transparent;
  color: var(--color-discord-blue);
  border: 1px solid var(--color-discord-blue);
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
  align-self: center;
}

.existing_session_form {
  outline: none;
  border: none;
  background: transparent;
  padding: 3px;
  color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 5px;
}

.existing_session_form::selection, .existing_session_form:focus {
  outline: black;
}

.new_session:hover, .existing_session:hover {
  background: #6b7fc5;
}
