
.moderator_notice {
    color: var(--text-color-subtle);
    margin: 32px 0;
}

.actions {
    display: flex;
    justify-content: center;
    margin: 64px 0;
  }

.actions > div {
    display: inline;
    width: 100px;
    padding: 30px 20px;
    border-radius: 10%;
    margin: 5px;
    background-color: var(--bg-color);
  }
  .actions > div:hover {
      background-color: var(--bg-color-2);
    cursor: pointer;
  }
  
  .reveal {
    border: 1px solid var(--color-discord-blue);
  }
  
  .reset {
    border: 1px solid var(--color-warning-red);
  }
  