.moderator_notice {
    color: var(--text-color-subtle);
    text-transform: capitalize;
    width: auto;
    padding: 0.9rem 1.2rem;
    margin: 1rem auto;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 999px;
}

.moderator_notice:hover {
    background-color: var(--bg-color-2);
    cursor: pointer;
}

.moderator_controls {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0.5rem;
}

.moderator_controls .actions, .moderator_controls .options {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 0 0.5rem;
}

.moderator_controls .actions > button, .moderator_controls .options > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-transform: capitalize;
    width: auto;
    padding: 1rem 1.2rem;
    margin: 0.5rem;
    background-color: var(--bg-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.moderator_controls .actions > button:hover, .moderator_controls .options > button:hover {
    background-color: var(--bg-color-2);
    cursor: pointer;
    transform: translateY(-1px);
}

.moderator_controls .actions .reveal {
    border: 1px solid var(--color-discord-blue);
}

.moderator_controls .actions .reset {
    border: 1px solid var(--color-warning-red);
}

.moderator_controls .options .confirm {
    border: 1px solid var(--color-warning-yellow);
}

.moderator_controls .options .sequence {
    border: 1px solid var(--color-warning-yellow);
}
