.card_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.card_container .options {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 0 2rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 3rem;
  border: 1px solid var(--text-color);
  border-radius: 10%;
  margin: 0.25rem;
  background-color: var(--bg-color);
  cursor: pointer;
}
.card:hover:not(.no_hover) {
  background-color: var(--bg-color-2);
}

.actions {
  display: flex;
  justify-content: center;
}
.actions > div {
  display: inline;
  width: 3rem;
  padding: 1rem;
  border-radius: 10%;
  margin: 0.25rem;
  background-color: var(--bg-color);
}
.actions > div:hover {
  background-color: var(--bg-color-2);
  cursor: pointer;
}

.reveal {
  border: 1px solid var(--color-discord-blue);
}

.reset {
  border: 1px solid var(--color-warning-red);
}

.moderator_notice {
    color: var(--text-color-subtle);
    text-transform: capitalize;
    width: auto;
    padding: 1rem;
    margin: 1rem auto;
    background-color: var(--bg-color);
    border-radius: 1rem;
}

.moderator_notice:hover {
    background-color: var(--bg-color-2);
    cursor: pointer;
}

@media (max-width: 768px) {
  .card_container {
    margin-top: 16px;
  }
  .options {
    display: flex;
    width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card {
    flex: 0;
    min-width: 100px;
    min-height: 150px;
    font-size: 2rem;
  }
}
